services:
  db:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_DB: drodos
      POSTGRES_USER: ${drodos_postgres_user}
      POSTGRES_PASSWORD: ${drodos_postgres_password}
    volumes:
      - db_data:/var/lib/postgresql/data

  web:
    build: .
    restart: unless-stopped
    environment:
      POSTGRES_DB: drodos
      POSTGRES_USER: ${drodos_postgres_user}
      POSTGRES_PASSWORD: ${drodos_postgres_password}
      DJANGO_SETTINGS_MODULE: drodos.settings
    volumes:
      - static_volume:/app/static
      - media_volume:/data/media
    ports:
      - "8003:8000"
    depends_on:
      - db

volumes:
  db_data:
  static_volume:
  media_volume: