{%  extends 'default/base.html'%}
{% load static %}

{% block body %}

    <script src="{% static 'default/js/dropzone.js' %}"></script>
    <div id="p5_loading" class="loadingclass" style="display: none;"></div>

    <form action="{% url 'default:upload2'%}" method="post" type="submit" enctype="multipart/form-data" class="dropzone" id="dropzone">
        {% csrf_token %}
        <input type="hidden" name="filesInputId" id="filesInputId" multiple/>
        Drop to Upload
    </form>

    <div class="tbox"><h2>Upload your file</h2></div>

    <form action="{% url 'default:upload'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="textSide" style="padding-top: 0">
            <p><input type="text" class="roundText" name="title" placeholder="Title"></p>
            <p class="pNom"><input type="text" class="roundText" name="desc" placeholder="Description"></p>
        </div>
        <div class="butSide">
            <div class="butContainer">
                <input type="file" name="file" id="file" class="inputfile"  />
                <label for="file" id="fileLabel" style="max-width: 150px"><span>Chose file</span></label>
                <button type="submit" class="skillBut" style="margin-left: 20px"><span>Upload</span></button>
                <script src="{% static 'default/js/customFileInput.js' %}"></script>
            </div>
            <div class="errorDisplay">
                {% if erro %}
                    {{ erro }}
                    <script>
                        window.onload = function(){
                        alert("No files selected ");
                        };
                    </script>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}



