<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
		<title>Drodos</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" lang="en" content="Drodos Cloud Storage">
        <meta name="keywords" content="drodos, drodos cloud, drodos sknv, dbz industries">
		<meta name="author" content="dbz">
		<meta name="robots" content="index, follow">
        {% load static %}

        <!-- https://realfavicongenerator.net/ icon como deve ser para todas as plataformas -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'drodos/images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'drodos/images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'drodos/images/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'drodos/images/site.webmanifest' %}">
        <link rel="mask-icon" href="{% static 'drodos/images/safari-pinned-tab.svg' %}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#603cba">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{% static 'drodos/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'drodos/style.css' %}">

        <!-- usar a jQuery do google para dar patch nas animations -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{% static 'drodos/js/main.js' %}"></script>
        <script>(function(e,t,n){var r=e.querySelectorAll("html")[0];r.className=r.className.replace(/(^|\s)no-js(\s|$)/,"$1js$2")})(document,window,0);</script>

        <!-- p5.js library -->
        <script src="{% static 'drodos/js/p5.js' %}"></script>
        <script src="{% static 'drodos/js/p5.sound.js' %}"></script>

    </head>
    <body class="preload">
			<header>
                <div class="container">
                    <div id="branding">
                        <a href="{% url 'drodos:index'%}">
                            <img id="brandingIcon" class="img-responsive" src="{% static 'drodos/images/drodosIcon.png' %}">
                        </a>
                        <h1><span class="highlight">Drodos</span><br>Cloud storage for the people</h1>
                    </div>
                    {% block navbar %}
			        <nav>
				        <ul>
                            <li class="current"><a href="{% url 'drodos:index'%}"><span>Home</span></a></li>
                            <li class="current"><a href="{% url 'drodos:loginp'%}"><span>Log In</span></a></li>
					        <li class="current"><a href="{% url 'drodos:register'%}"><span>Register</span></a></li>
				        </ul>
			        </nav>
                    {% endblock %}
                </div>
			</header>

            <div class="content">
                <div class="mainzone">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
            <footer>
                <p>© Copyright Drodos Inc</p>
            </footer>
        </body>
</html>
