{% extends 'base2.html' %}
{% load static %}

{% block body %}

    <script src="{% static 'dropbox/js/dropzone.js' %}"></script>
    <div id="p5_loading" class="loadingclass" style="display: none;"></div>

    <form action="{% url 'dropbox:upload'%}" method="post" type="submit" enctype="multipart/form-data" class="dropzone" id="dropzone">
        {% csrf_token %}
        <input type="hidden" name="filesInputId" id="filesInputId" multiple/>
        Drop to Upload
    </form>

    <div class="tbox"><h2>Upload your file</h2></div>

    <form action="{% url 'dropbox:upload'%}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="butSide">
            <div class="butContainer">
                <input type="file" name="filesInputId" id="filesInputId" class="inputfile"/>
                <label for="file" id="fileLabel" style="max-width: 150px"><span>Chose file</span></label>
                <input type=checkbox name="private" id="checkbox">
                <label for="checkbox">Private file</label>
                <button type="submit" class="skillBut" style="margin-left: 20px"><span>Upload</span></button>
                <script src="{% static 'dropbox/js/customFileInput.js' %}"></script>
            </div>
        </div>

        <div class="textSide" style="padding-top: 0">
            <p class="pNom"><input type="text" class="roundText" name="desc" placeholder="Description"></p>
        </div>
        <div class="errorDisplay">
            {% if erro %}
                {{ erro }}
            {% endif %}
        </div>
    </form>


{% endblock %}
