{% extends 'base.html' %}

{% block body %}

    <form action="{% url 'dropbox:savegroup'%}" method="post">
    {% csrf_token %}
        <div class="textSide">
            {{ form }}
        </div>

        {% if error_message %}
            <div class="tbox"><h3>{{ error_message }}</h3></div>
        {% endif %}

        <div class="butSide">
            <div class="butContainer">
                <button type="submit" class="skillBut"><span>Create Group</span></button>
            </div>
        </div>
    </form>
{% endblock %}