{% extends 'base2.html' %}

{% block body %}
    {% if files %}
        <div class="normal-box" style="margin: auto; padding-bottom: 30px">
        <h2 style="padding: 20px 0 20px 0;">Files</h2>
        {% for storeditem in files %}
            <div class="listing" style="margin: 0 20px -1px 20px; width: auto">
                ​<a href="{% url 'dropbox:file' storeditem.fileUrl %}" >{{ storeditem.title}}</a>
                <span>{{ storeditem.description}}</span>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="tbox"><h1>You don't have any files</h1></div>
    {% endif %}
{% endblock %}
