{% extends 'group.html' %}

{% block body2 %}
    <div class="butContainer" id="adminGroupActionsContainer">
        <a href="{% url 'dropbox:invitemember' group.name %}"><button class="skillBut"><span>Invite Member</span></button></a>
        <a href="{% url 'dropbox:removemember' group.name %}"><button class="skillBut"><span>Kick Member</span></button></a>
        <a href="{% url 'dropbox:deletegroup' group.name %}"><button class="skillBut"><span>Delete Group</span></button></a>
    </div>
    </div>

    {% if inviteform %}
       <form action="{% url 'dropbox:sendgroupinvite' group.name%}" method="post" >
        {% csrf_token %}

           <div class="tbox"><h4>User to invite:</h4></div>

           <div class="textSide" style="padding: 0">
               <p class="pNom"><input type="text" name="username" placeholder="Username"></p>
           </div>
           <div class="butSide">
                <div class="butContainer">
                    <button type="submit" class="skillBut"><span>Invite</span></button>
                </div>
            </div>
        </form>
    {% endif %}

    {% if removeform and group.member.all.count > 1 %}

        <div class="tbox" style="padding-bottom: 0; padding-top: 10px"><h4>User to kick:</h4></div>

        <form action="{% url 'dropbox:removedmember' group.name%}" method="post" >
        {% csrf_token %}
        {% for user in group.member.all %}
            {% if user.username != group.owner.username %}
                <div class="listing">
                    <button type="submit" name="user" value="{{ user.id }}"><span>{{ user.username }}</span></button>
                    <span>{{ user.profile.bio }}</span>
                </div>
            {% endif %}
        {% endfor %}
        </form>
    {% endif %}


    {% if erro %}
        <div class="tbox"><h3>{{ erro }}</h3></div>
    {% endif %}
{% endblock %}