{% extends 'base2.html' %}

{% block body %}
    {% if groups %}
        <div class="normal-box" style="padding-bottom: 30px; margin: auto">
            <h2 style="padding: 20px 0 20px 0;">Groups</h2>
        {% for group in groups %}
            <div class="listing" style="margin: 0 20px -1px 20px; width: auto">
                ​<a href="{% url 'dropbox:group' group %}">{{ group.name }}</a>
                <span>{{ group.description }}</span>
            </div>
        {% endfor%}
        </div>
    {% else %}
        <div class="tbox"><h1>You don't belong to any group ☹</h1></div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="tbox">
            {% if user.profile.premium %}
                <button type="submit" formaction="{% url 'dropbox:create_group'%}" class="skillBut"><span>Create a group</span></button>
            {% endif %}
            <button type="submit" formaction="{% url 'dropbox:invites'%}" class="skillBut"><span>My Invites</span></button>
        </div>
    </form>

{% endblock %}