{% extends 'base2.html' %}

{% block body %}
    {% if invites %}
        <div class="tbox">
            <h2>Invites:</h2></div>
        <div class="tbox">
        <ul>
            {% for invite in invites %}
                <li>
                    <p class="pNom">From: <a href="{% url 'dropbox:user' invite.invitee.username %}" style="color: black">{{ invite.invitee }}</a></p>
                    <p class="pNom">To Group: <a href="{% url 'dropbox:group' invite.toGroup.name %}" style="color: black">{{ invite.toGroup }}</a></p>
                    <form action="{% url 'dropbox:answerinvite' invite.id%}" method="post" style="color: black">
                        {% csrf_token %}
                        <input type="submit" value="Accept" name="op"/>
                        <input type="submit" value="Decline" name="op"/>
                    </form>
                </li>
                <br>
            {% endfor %}
        </ul>
        </div>
    {% else %}
        <div class="tbox"><h2>You don't have any invites pending.</h2></div>
    {% endif %}

{% endblock %}