{% extends 'base2.html' %}

{% block body %}
    <div class="tbox"><h2>This is your profile!</h2></div>

    <div class="normal-box" style="margin: auto;width: auto;">
        {% if user.profile.premium %}
            <div class="tbox"><h3>Premium User!</h3></div>
        {% endif %}
        <div class="tbox">
            Storage : {{ user.profile.currentStorage }} out of {{ user.profile.maxStorage}} <br>
            <progress max="{{ user.profile.maxStorage }}" value="{{ user.profile.currentStorage }}"></progress>
        </div>
        <div class="tbox">
            <h1>{{ user.username }}</h1>
            <p class="pNom">{{ user.profile.bio}}</p>
        </div>
    </div>


{% endblock %}