{%  extends 'base.html' %}

{% block body %}
    <form action="{% url 'dropbox:register'%}" method="post" id="registerForm">
        {% csrf_token %}
        <div class="textSide">
            {{ form }}
        </div>

        {% block error_messager %}
        {% endblock %}

        <div class="butSide">
            <div class="butContainer">
                <button type="submit" class="skillBut" id="registerBut"><span>Register</span></button>
            </div>
        </div>
    </form>
{% endblock %}
